p,
input {
    margin: 30px;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #fff;
    width: 565px;
    height: 646px;
    margin: 0 auto;
    padding: 30px 40px 40px 40px;
    border: 1px solid #E6E6E6;
    background: #faf9f9;
}

#inputYouName {
    padding: 13px;
    display: none;

}

.myName,
.occupation,
.iLike {
    color: white;
    padding: 5px;
    border-radius: 5px;
    background: #999;
    width: 50%;
    display: none;
}

.long,
.regards {
    position: relative;
    left: 267px;
    background: #2f89fc;
    border-radius: 5px;
    padding: 18px;
    width: 35%;
    display: none;
}

#valid {
    color: black;
}